nav{
  width: 100vw;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  padding: 20px;
  min-height: 10vh;
  background-color: orange;
  align-items: center;
}

a {
  margin-right: 10px;
}

.active {
  opacity : .8;
  color: lightblue;
}
