<app-navbar></app-navbar>

<!--<app-first></app-first>


<app-directives></app-directives>-->

<!-- ROUTING -->
<!--angular ha degli indirizzi chiamati puff che identificano come il nostro sito si può navigare
    il router outplet è dove la pagina attiva nel routing verrà visualizzata

  STEP
  1. creare i componenti per le pagine
  2. impostare le rotte
    a. andare nel module app-routing.module.ts
    b. modificare l'array Routes inserendo degli oggetti rotta
    {
      path: 'str' -> l'indirizzo della pagina
    }

  -->

<a routerLink="/binding">b</a>
<a routerLink="/directives">d</a>

<router-outlet></router-outlet>
